NET "IN1[7]" LOC = P92;
NET "IN1[6]" LOC = P93;
NET "IN1[5]" LOC = P94;
NET "IN1[4]" LOC = P95;
NET "IN1[3]" LOC = P97;
NET "IN1[2]" LOC = P98;
NET "IN1[1]" LOC = P99;
NET "IN1[0]" LOC = P100;

NET "IN2[0]" LOC = P88;
NET "IN2[1]" LOC = P87;
NET "IN2[2]" LOC = P85;
NET "IN2[3]" LOC = P84;
NET "IN2[4]" LOC = P83;
NET "IN2[5]" LOC = P82;
NET "IN2[6]" LOC = P81;
NET "IN2[7]" LOC = P80;


NET "IN3[0]" LOC = P79;
NET "IN3[1]" LOC = P78;
NET "IN3[2]" LOC = P75;
NET "IN3[3]" LOC = P74;
NET "IN3[4]" LOC = P67;
NET "IN3[5]" LOC = P66;
NET "IN3[6]" LOC = P62;
NET "IN3[7]" LOC = P61;

NET "IN4[0]" LOC = P55;
NET "IN4[1]" LOC = P51;
NET "IN4[2]" LOC = P50;
NET "IN4[3]" LOC = P48;
NET "IN4[4]" LOC = P47;
NET "IN4[5]" LOC = P46;
NET "IN4[6]" LOC = P45;
NET "IN4[7]" LOC = P44;

NET "IN5[0]" LOC = P43;
NET "IN5[1]" LOC = P41;
NET "IN5[2]" LOC = P40;
NET "IN5[3]" LOC = P35;
NET "IN5[4]" LOC = P34;
NET "IN5[5]" LOC = P33;
NET "IN5[6]" LOC = P32;
NET "IN5[7]" LOC = P30;

NET "IN6[0]" LOC = P29;
NET "IN6[1]" LOC = P27;
NET "IN6[2]" LOC = P26;
NET "IN6[3]" LOC = P24;
NET "IN6[4]" LOC = P23;
NET "IN6[5]" LOC = P22;
NET "IN6[6]" LOC = P21;
NET "IN6[7]" LOC = P17;

NET "IN7[0]" LOC = P15;
NET "IN7[1]" LOC = P12;
NET "IN7[2]" LOC = P11;
NET "IN7[3]" LOC = P10;
NET "IN7[4]" LOC = P9;
NET "IN7[5]" LOC = P8;
NET "IN7[6]" LOC = P7;
NET "IN7[7]" LOC = P6;

NET "IN8[0]" LOC = P5;
NET "IN8[1]" LOC = P2;
NET "IN8[2]" LOC = P1;
NET "IN8[3]" LOC = P144;
NET "IN8[4]" LOC = P143;
NET "IN8[5]" LOC = P142;
NET "IN8[6]" LOC = P141;
NET "IN8[7]" LOC = P140;

NET "DEBUG1" LOC = P123;
NET "DEBUG2" LOC = P121;
NET "DEBUG3" LOC = P120;
NET "DEBUG4" LOC = P119;
NET "DEBUG5" LOC = P118;
NET "DEBUG6" LOC = P117;
NET "DEBUG7" LOC = P116;
NET "DEBUG8" LOC = P115;
NET "DEBUG9" LOC = P114;
NET "DEBUG10" LOC = P112;

NET "CONFIG1" LOC = P105;
NET "CONFIG2" LOC = P104;
NET "CONFIG3" LOC = P102;
NET "CONFIG4" LOC = P101;

NET "REG_RST" LOC = P139;
NET "REG_SCLK" LOC = P138;
NET "REG_LCLK" LOC = P137;
NET "REG_EN_N" LOC = P134;
NET "REG_OUT" LOC = P133;
NET "EOC2" LOC = P111;
NET "EOC1" LOC = P56;
NET "SPI_DIN" LOC = P58;
NET "SPI_DOUT" LOC = P57;
NET "SPI_SCLK" LOC = P59;
NET "OSC_GCLK" LOC = P14;

NET "DAC_GCLK" LOC = P16;